<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DesktopAppGimnasio.Properties.Settings.MySQLConnection"
            connectionString="server=localhost;port=3306;user id=root;password=;database=gimnasio;" />
    </connectionStrings>
</configuration>